.Header {
  border-bottom: 1px solid var(--primary-border);
  height: 80px;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--primary);
  padding: 0 30px;
  justify-content: space-between;

  &_Visitors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &_VisitorsText {
    color: var(--gray-text);
    font-size: 0.9rem;
  }

  &_VisitorsNumber {
    font-size: 1.3rem;
  }

  &_Percentages {
    color: var(--green-accent);
    font-size: 1.5rem;
  }

  &_TitleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
