.Header {
  padding: 0 30px;
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .Header {
    width: 120px;
    height: 100vh;
    border-right: 1px solid white;
    padding-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .Header {
    width: 250px;
  }
}
