.List {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 18px;
  margin: auto;
  height: calc(100% - 80px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: flex-end;

  &::-webkit-scrollbar {
    display: none;
  }
}
