.Wrapper {
  display: flex;
  flex-direction: column;

  &_RightSide {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 25px;
  }
}

@media screen and (min-width: 550px) {
  .Wrapper {
    &_RightSide {
      padding: 30px;
      padding-top: 40px;
    }
  }
}

@media screen and (min-width: 768px) {
  .Wrapper {
    flex-direction: row;
    width: 100%;
    &_RightSide {
      gap: 40px;
      flex: 1;
      padding: 50px 30px;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Wrapper {
    &_RightSide {
      padding: 50px;
      max-width: 1300px;
      margin: 0 auto;
    }
  }
}
