:root {
  --primary: #111111;
  --primary-border: #252525;
  --gray-text: rgba(255, 255, 255, 0.6);
  --blue-accent: #0070f3;
  --green-accent: #79fe10;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

li {
  list-style-type: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
