.Main {
  margin: auto;
  padding-top: 50px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;

  &_Title {
    & > span {
      color: var(--blue-accent);
    }
  }

  &_ListItem {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-border);
    color: white;
    width: 90vw;
    max-width: 350px;
    height: 64px;
    border-radius: 7px;
    &:hover {
      color: var(--blue-accent);
      background-color: var(--primary);
    }
  }
}
