.line {
  width: 2px;
  height: 325px;
  background-color: white;
  position: absolute;
  left: 0px;
  bottom: 47px;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: #0070f3;
  border-radius: 50%;
  position: absolute;
  transform-origin: center;
  transform: translate(-3px, -4px);
}

.Wrapper {
  width: 100%;
  overflow: hidden;

  &_Header {
    height: 80px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  &_Visitors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &_VisitorsText {
    color: var(--gray-text);
    font-size: 0.9rem;
  }

  &_VisitorsNumber {
    color: white;
    font-size: 1.3rem;
  }

  &_Percentages {
    color: var(--green-accent);
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 550px) {
  .Wrapper {
    border: 1px solid var(--primary-border);
    border-radius: 15px;
  }
}
