.Breadcrumb {
  color: var(--gray-text);
  display: flex;
  align-items: center;
  gap: 10px;

  &_Link {
    align-items: center;
    fill: white;
    cursor: pointer;
    color: white;
    display: flex;
    gap: 10px;
    &:hover {
      fill: #0070f3;
      color: #0070f3;
    }
  }
}
