.Heading {
  color: white;
  padding-left: 30px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;

  align-items: flex-start;

  &_Title {
    font-weight: 500;
    margin-bottom: 20px;
  }

  &_Link {
    fill: var(--gray-text);
    display: flex;
    align-items: center;
    gap: 7px;
    &:hover {
      color: var(--blue-accent);
      fill: var(--blue-accent);
    }
  }
}

@media screen and (min-width: 550px) {
  .Heading {
    padding-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .Heading {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-self: stretch;
  }
}
