.Wrapper {
  width: 100%;
  overflow: hidden;

  &_Header {
    height: 80px;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }

  &_ChartContainer {
    height: 300px;
  }
}

@media screen and (min-width: 550px) {
  .Wrapper {
    border: 1px solid var(--primary-border);
    border-radius: 15px;

    &_ChartContainer {
      padding-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .line {
    height: calc(100% - 25px);
  }
  .Wrapper {
    &_ChartContainer {
      height: 400px;
      padding: 20px;
    }
  }
}
