.Container {
  border: 1px solid var(--primary-border);
  border-radius: 7px;

  flex: 1;
  min-width: 100%;
  margin: auto;
  overflow: hidden;

  &__increaseHeight {
    height: 382px;
  }

  &_Body {
    min-height: 100px;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .Container {
    width: 100%;
    min-width: 410px;
    margin: unset;

    &_Body__increaseHeight {
      height: 400px;
    }
  }
}
