.Nav {
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  padding-top: 40px;
  justify-content: center;
  overflow: hidden;

  &__hidden {
    display: none;
  }

  &_List {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  &_Link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 7px 20px;
    color: black;
    stroke: black;
    fill: black;
    &:hover {
      background-color: #c7c7c7;
    }
  }

  &_Link__active {
    background-color: #c7c7c7;
  }

  &_Item {
    list-style-type: none;
  }
}

@media screen and (min-width: 768px) {
  .Nav {
    height: 100%;
    padding-top: 0;
    position: relative;
    top: unset;
    left: unset;
    background-color: black;
    align-items: flex-start;

    &__hidden {
      display: flex;
    }

    &_Link {
      color: white;
      padding: 12px;
      stroke: white;
      & > span {
        display: none;
      }
      &:hover {
        background-color: var(--primary);
      }
    }

    &_Link__active {
      background-color: var(--primary);
    }
  }
}

@media screen and (min-width: 1024px) {
  .Nav {
    &_Link {
      color: white;
      padding: 12px;
      font-size: 1rem;
      & > span {
        display: block;
      }
    }
  }
}
