.Container {
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  height: 300px;
  width: 100%;
  max-width: 90%;
  margin: auto;

  &_Header {
    border-bottom: 1px solid var(--primary-border);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: var(--primary);
    padding: 0 30px;
  }
}

@media screen and (min-width: 550px) {
  .Container {
    max-width: 100%;
  }
}
