.Container {
  border: 1px solid var(--primary-border);
  border-radius: 7px;
  height: 300px;
  flex: 1;
  min-width: 410px;
  margin: auto;
  overflow: hidden;

  &_Header {
    border-bottom: 1px solid var(--primary-border);
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: var(--primary);
    padding: 0 30px;
  }
}
